.commander {
    display: flex;
    padding: 12px 0;

    font-size: 18px;
    line-height: 150%;
}

.commander div {
    flex-grow: 1;
}

.commander .text-mode {
    display: flex;
    gap: 8px;
    align-items: center;
}

.commander input {
    width: 100%;
    font-size: 18px;
    line-height: 150%;
}

.commander .hidden {
    display: none;
}

.task-view {
    display: flex;
    gap: 8px;
}
