.commander {
    display: flex;
    padding: 12px 0;

    font-size: 18px;
    line-height: 150%;
}

.commander div {
    flex-grow: 1;
}

.commander .text-mode {
    display: flex;
    gap: 8px;
    align-items: flex-start;
}

.commander textarea {
    width: 100%;
    font-size: 18px;
    line-height: 150%;
    resize: none;
}

.commander .hidden {
    display: none;
}

.task-view-title {
    display: flex;
    gap: 8px;
}

.task-view-desc {
    padding-left: 30px;
    opacity: 0.6;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.info-list {
    display: flex;
    gap: 8px;
}

.info-list div {
    margin-top: 20px;
    background-color: rgb(36, 40, 52);
    padding: 2px 6px;
    border-radius: 6px;
    font-size: 12px;
}

.info-list code {
    background-color: black;
    color: beige;
    padding: 2px 6px;
    border-radius: 6px;
    font-size: 12px;
}
